<form [formGroup]="productForm" novalidate>
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Product Information </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- ID -->
      <div layout="row" *ngIf="!selectedProduct.id; else displayidro">
        <!-- <mat-form-field flex>
        <mat-label>Product ID</mat-label>
        <input matInput placeholder="Id" type="text" formControlName="id" />
        <mat-error *ngIf="id.errors && (id.dirty || id.touched)" align="end">
          <span *ngIf="id.hasError('required')">id is required</span>
          <span *ngIf="!id.hasError('required') && id.hasError('idExists')"
            >Id already exists</span
          >
        </mat-error>
      </mat-form-field> -->
        <mat-form-field flex>
          <input
            matInput
            placeholder="Product Id"
            type="text"
            formControlName="id"
          />
          <mat-error align="end">
            <span *ngIf="id.hasError('required')">id is required</span>
            <span *ngIf="!id.hasError('required') && id.hasError('idExists')"
              >Id already exists</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <ng-template #displayidro>
        <mat-form-field flex style="font-weight: bolder" color="accent">
          <input
            matInput
            [readonly]="true"
            placeholder="Product ID"
            formControlName="id"
          />
        </mat-form-field>
        <br />
      </ng-template>

      <!-- Vendor ID -->
      <div layout="row">
        <mat-form-field>
          <mat-label>Select Vendor</mat-label>
          <mat-select
            placeholder="Vendor"
            formControlName="vendorid"
            value="vendorid"
            id="vendorid"
          >
            <mat-option *ngFor="let vendor of vendors" [value]="vendor.id">{{
              vendor.name
            }}</mat-option>
          </mat-select>
          <mat-error
            flex
            *ngIf="vendorid.errors && (vendorid.dirty || vendorid.touched)"
            align="end"
          >
            <p align="end" mat-pad-xs *ngIf="vendorid.hasError('required')">
              Choose Vendor
            </p>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Product Name -->
      <div layout="row">
        <mat-form-field flex>
          <mat-label>Product Name</mat-label>
          <input
            matInput
            placeholder="Name"
            type="text"
            formControlName="name"
          />
          <mat-error
            *ngIf="name.errors && (name.dirty || name.touched)"
            align="end"
          >
            <p *ngIf="name.hasError('required')">Name is required.</p>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Retail Price -->
      <div layout="row">
        <mat-form-field flex>
          <mat-label>Retail Price</mat-label>
          <input
            matInput
            placeholder="Retail Price"
            type="text"
            formControlName="costprice"
          />
          <mat-error
            *ngIf="costprice.errors && (costprice.dirty || costprice.touched)"
            align="end"
          >
            <p *ngIf="costprice.hasError('required')">
              Retail Price is required.
            </p>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Cost Price -->
      <div layout="row">
        <mat-form-field flex>
          <mat-label>Cost Price</mat-label>
          <input
            matInput
            placeholder="MSRP"
            type="text"
            formControlName="msrp"
          />
          <mat-error
            *ngIf="msrp.errors && (msrp.dirty || msrp.touched)"
            align="end"
          >
            <p *ngIf="msrp.hasError('required')">MSRP is required.</p>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    <!-- SPLIT -->

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Inventory Information </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Reorder Point -->
      <div layout="row">
        <mat-form-field flex>
          <mat-label>Reorder Point</mat-label>
          <input matInput placeholder="rop" type="text" formControlName="rop" />
          <mat-error
            *ngIf="rop.errors && (rop.dirty || rop.touched)"
            align="end"
          >
            <p *ngIf="rop.hasError('required')">ROP is required.</p>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Economic Order Quantity -->
      <div layout="row">
        <mat-form-field flex>
          <mat-label>Economic Order Quantity</mat-label>
          <input matInput placeholder="eoq" type="text" formControlName="eoq" />
          <mat-error
            *ngIf="eoq.errors && (eoq.dirty || eoq.touched)"
            align="end"
          >
            <p *ngIf="eoq.hasError('required')">EOQ is required.</p>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Quantity On Hand -->
      <div layout="row">
        <mat-form-field flex>
          <mat-label>Quantity On Hand</mat-label>
          <input matInput placeholder="qoh" type="text" formControlName="qoh" />
          <mat-error
            *ngIf="qoh.errors && (qoh.dirty || qoh.touched)"
            align="end"
          >
            <p *ngIf="qoh.hasError('required')">QOH is required.</p>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Quantity On Order -->
      <div layout="row">
        <mat-form-field flex>
          <mat-label>Quantity On Order</mat-label>
          <input matInput placeholder="qoo" type="text" formControlName="qoo" />
          <mat-error
            *ngIf="qoo.errors && (qoo.dirty || qoo.touched)"
            align="end"
          >
            <p *ngIf="qoo.hasError('required')">QOO is required.</p>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> QRCode Information </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- QRCode Information -->
    <div layout="row">
      <mat-form-field flex>
        <mat-label>QRCode Information</mat-label>
        <input
          matInput
          placeholder="qrcodetxt"
          type="text"
          formControlName="qrcodetxt"
        />
      </mat-form-field>
    </div>
    <div style="padding-top: 15%">
      QR CODE:
      <img
        style="display: block"
        [src]="'data:image/png;base64,' + selectedProduct.qrcode"
      />
    </div>
  </mat-expansion-panel>

  <div class="mat-pad-sm">
    <span>
      <button
        mat-raised-button
        [disabled]="!productForm.valid"
        type="button"
        (click)="updateSelectedProduct()"
      >
        Save
      </button>
    </span>
    <!-- <span>
      <button
        *ngIf="selectedProduct.id"
        mat-raised-button
        type="button"
        (click)="deleted.emit(selectedProduct)"
      >
        Delete
      </button>
    </span> -->
    <span>
      <button
        *ngIf="selectedProduct.id"
        mat-raised-button
        type="button"
        (click)="openDeleteDialog(selectedProduct)"
      >
        Delete
      </button>
    </span>

    <span>
      <button
        mat-raised-button
        type="button"
        (click)="cancelled.emit(selectedProduct)"
      >
        Cancel
      </button>
    </span>
  </div>
</form>
